* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background: linear-gradient(70deg, #b8b5ff, #f6dfeb);
}
.container {
    width: 100%;
    height: 100%;
}

.covid_slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.covid_chart {
    width: 100%;
    height: 100vh;
}

.covid_chart div {
    width: 90%;
    margin: 0 auto;
}

/* 확진자 표 */

.content_title {
    /* color: #fff; */
    color: white; /* Fallback: assume this color ON TOP of image */

    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 42px;
    height: 100%;
    padding: 20% 0px;
    text-align: center;
}

.content_title img {
    width: 200px;
    margin: 0 auto;
}

/* 확진자 관련 */
.decide {
    color: rgb(223, 35, 35);
}
.exam {
    color: rgb(236, 172, 53);
}
.clear {
    color: rgb(49, 49, 238);
}

/* slick */

.slider {
    width: 100%;
    margin: 0 auto;
}

.slick-slide {
    margin: 0px 20px;
}

/* .slick-slide img {
    width: 100%;
} */

.slick-prev:before,
.slick-next:before {
    color: black;
}

.slick-slide {
    transition: all ease-in-out 0.3s;
    opacity: 0.2;
}

.slick-active {
    opacity: 0.5;
}

.slick-current {
    opacity: 1;
}

.slider li {
    display: none;
}

.slick-arrow {
    z-index: 999; /* prev버튼은 위치 이동시 이미지 뒤로 숨겨짐 */
    position: absolute; /* 원하는 위치에 지정  */
    bottom: 2%;
    width: 30px;
    height: 30px;
}
.slick-prev.slick-arrow {
    /* prev 이전 */
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
    right: 200px;
    background: none;
    color: #fff;
    border: none;
}

.slick-prev.slick-arrow:focus,
.slick-next.slick-arrow:focus {
    outline: 0;
}

.slick-next.slick-arrow {
    /* next 다음 */
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
    right: 100px;
    background: none;
    color: #fff;
    border: none;
}

.slick-next.slick-arrow:hover,
.slick-prev.slick-arrow:hover {
    color: #e2c7b3;
    transform: scale(1.1);
}
